header{
	color: black;
	background: rgb(116,240,42);
	font-size: 90px;
	text-align: center;
	font-family: sans-serif;
}

li{
	list-style: none;
	display: inline-block;
	padding: 10px;
}

p{
	background: rgb(116,240,42);
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: georgian;
	text-align: left;
}

img{
	width: 800px;
	height: 600px;
	padding: 10px;
}

.images{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
